.link {
  margin: 0 auto 5px auto;
  padding: 2px auto;
  border-radius: 1em !important;
  font-family: var(--fun-font);
  font-size: 14px;
}
.link:hover {
  color:var(--purple-4) !important;
}

.link:active {
  background-color: var(--purple-1);
  color: var(--purple-4);
  /* border: 1px solid  var(--purple-4); */
}

.link--active {
  background-color: var(--purple-1) !important;
  color: var(--purple-4) !important;
  border: 1px solid  var(--purple-4) !important;
}

.link i {
  margin-right: 10px;
}

/* .link:after {
  background-color: var(--purple-3);
} */

