.main {
  height: 100%;
  padding: 1em;
}

.sidebar {
  height: 100%;
  padding: 1em;
  border-radius: 1em;
  background-color: white;
  width: 220px;
}

.logo {
  margin: 20px auto;
  margin-bottom: 40px;
  /* margin-top: 20px; */
  width: 170px;
  /* margin-left: 1em; */
}

.title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.siderbar {
  margin-right: 1em;
}

.user {
  margin: 0 auto;
  font-family: var(--fun-font);
}